# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
bld/
.vs/


# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# JS dependencies
Rogamo/www/lib/